---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Layout from '$lib/layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post: CollectionEntry<'posts'>) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <div class="w-full p-8">
    <h1 class="mb-1 text-4xl font-bold">{post.data.title}</h1>
    <h2 class="w-1/2 text-lg">
      By
      <span class="font-bold">{post.data.author}</span>
      <span class="text-subtext-0">
        - {post.data.date.toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}</span
      >
    </h2>
    <article
      class="lg:prose-lg prose-h2:text-2xl prose prose-p:indent-12 prose-pre:border-2 prose-pre:border-border md:w-2/3"
    >
      <Content />
    </article>
  </div>
</Layout>
