@import 'tailwindcss';

@theme {
  /* Catppuccin Colors */
  --color-mauve: #cba6f7;
  --color-red: #f38ba8;
  --color-text: #cdd6f4;
  --color-subtext-1: #bac2de;
  --color-subtext-0: #a6adc8;
  --color-overlay-2: #9399b2;
  --color-overlay-1: #7f849c;
  --color-overlay-0: #6c7086;
  --color-surface-2: #585b70;
  --color-surface-1: #45475a;
  --color-surface-0: #313244;
  --color-base: #1e1e2e;
  --color-mantle: #181825;
  --color-crust: #11111b;

  /* Fonts */
  --font-sans: Inter, sans-serif;
  --font-roboto: Roboto;

  /* Shadcn */
  --color-border: var(--color-surface-1);
  --color-input: var(--color-surface-1);
  --color-ring: var(--color-text);
  --color-background: var(--color-base);
  --color-foreground: var(--color-text);
  --color-primary: var(--color-mauve);
  --color-primary-foreground: var(--color-base);
  --color-secondary: var(--color-surface-0);
  --color-secondary-foreground: var(--color-text);
  --color-accent: var(--color-surface-0);
  --color-accent-foreground: var(--color-text);
  --color-destructive: var(--color-red);
  --color-destructive-foreground: var(--color-mantle);
  --color-muted: var(--color-surface-0);
  --color-muted-foreground: var(--color-subtext-1);
  --color-popover: var(--color-base);
  --color-popover-foreground: var(--color-text);
  --color-card: var(--color-base);
  --color-card-foreground: var(--color-text);

  /* Animations */
  --animate-blur: blur 15s linear infinite;

  @keyframes blur {
    0% {
      filter: 'blur(0px)';
    }
    ,
    100% {
      filter: 'blur(100px)';
    }
  }
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html {
  @apply text-text bg-base;
}
