---
export const prerender = false;
import Layout from '$lib/layouts/Layout.astro';
import { Button } from '$lib/components/ui/button';
import { links } from '$lib/scripts/links';
import Transition from '$lib/components/Transition.svelte';
import Clipped from '$lib/components/Clipped.svelte';

const isClipped = Astro.url.searchParams.get('clip') !== null;
---

<Layout description="Everywhere you can find April Hall on the internet" pageTitle="Find Me">
  <Clipped client:load clipped={isClipped} />
  <div class="w-full p-8">
    <h1 class="mb-1 text-4xl font-bold">Find Me</h1>
    <h2 class="mb-1 text-xl">@arithefirst <em>(almost)</em> everywhere</h2>
    <h2 class="mb-4 text-sm">Usually available 8:00AM - 2:00AM in EST</h2>
    <Transition client:load class="grid w-full gap-2 md:w-1/2 md:grid-cols-2">
      {
        links.map((l) => (
          <Button class="" size="lg" href={l.href} target={l.overrideTarget ? '_self' : '_blank'}>
            {/* @ts-expect-error */}
            <l.icon fill="var(--color-base)" />
            <span>{l.title}</span>
          </Button>
        ))
      }
    </Transition>
  </div>
</Layout>
