---
import Layout from '$lib/layouts/Layout.astro';
import Experiences from '$lib/layouts/Experiences.svelte';

interface ExperienceCard {
  startDate: Date;
  endDate: Date;
  company: string;
  position: string;
  bullets: string[];
  src: string;
  alt: string;
}

const projectArray: ExperienceCard[] = [
  {
    startDate: new Date('November 13, 2024 EST'),
    endDate: new Date(),
    company: 'Hikari3',
    position: 'Lead Developer (Volunteer)',
    bullets: [
      'Assisted in pioneering an imageboard software used by hundreds of people daily',
      'Set up and repaired several imperative services for functionality and user satisfaction.',
      'Implemented GitHub continous integration to improve developer experience.',
    ],
    src: '/images/h3.png',
    alt: 'the hikari3.ch logo',
  },
];
---

<Layout description="April Hall's Work Experience" pageTitle="Experience">
  <div class="w-full p-8">
    <h1 class="mb-4 text-4xl font-bold">Experience</h1>
    <Experiences cards={projectArray} client:load />
  </div>
</Layout>
