---
import Experiences from '$lib/layouts/Experiences.svelte';
import Layout from '$lib/layouts/Layout.astro';
import type { ExperienceCard } from '$lib/scripts/types';

const experienceArray: ExperienceCard[] = [
  {
    startDate: new Date('May 1, 2025 EST'),
    endDate: new Date('May 1, 2025 EST'),
    company: 'Kingsway Indoor Percussion & Colorguard',
    position: 'Freelance Developer',
    summary:
      'Developed and deployed a student location tracking software for a 4-day field trip, collaborating with staff and administration to ensure reliability and receiving praise for rapid delivery.',
    src: '/images/krsd.png',
    alt: 'kingsway school district logo',
  },
  {
    startDate: new Date('November 13, 2024 EST'),
    endDate: new Date(),
    company: 'Hikari3',
    position: 'Lead Developer (Volunteer)',
    summary:
      'Led development of an imageboard platform serving hundreds daily, maintained critical services, and implemented GitHub CI to enhance developer workflow.',
    src: '/images/h3.webp',
    alt: 'the hikari3.ch logo',
  },
];
---

<Layout description="April Hall's Work Experience" pageTitle="Experience">
  <div class="w-full p-8">
    <h1 class="mb-4 text-4xl font-bold">Experience</h1>
    <Experiences cards={experienceArray} client:load />
  </div>
</Layout>
