---
import Experiences from '$lib/layouts/Experiences.svelte';
import Layout from '$lib/layouts/Layout.astro';

interface ExperienceCard {
  startDate: Date;
  endDate: Date;
  company: string;
  position: string;
  bullets: string[];
  src: string;
  alt: string;
}

const experienceArray: ExperienceCard[] = [
  {
    startDate: new Date('May 1, 2025 EST'),
    endDate: new Date('May 1, 2025 EST'),
    company: 'Kingsway Indoor Percussion & Colorguard',
    position: 'Freelance Developer',
    bullets: [
      'Developed a software to track the locations of students on a 4-day field trip',
      'Worked closely with staff & admin to make sure the solution worked properly',
      'Recived praise for the speed at which a solution was able to be developed and deployed',
    ],
    src: '/images/krsd.png',
    alt: 'kingsway school district logo',
  },
  {
    startDate: new Date('November 13, 2024 EST'),
    endDate: new Date(),
    company: 'Hikari3',
    position: 'Lead Developer (Volunteer)',
    bullets: [
      'Assisted in pioneering an imageboard software used by hundreds of people daily',
      'Set up and repaired several imperative services for functionality and user satisfaction.',
      'Implemented GitHub continous integration to improve developer experience.',
    ],
    src: '/images/h3.webp',
    alt: 'the hikari3.ch logo',
  },
];
---

<Layout description="April Hall's Work Experience" pageTitle="Experience">
  <div class="w-full p-8">
    <h1 class="mb-4 text-4xl font-bold">Experience</h1>
    <Experiences cards={experienceArray} client:load />
  </div>
</Layout>
