---
import * as Pubkey from '$lib/assets/pubkey.md';
import { Button } from '$lib/components/ui/button/index.js';
import Download from '$lib/icons/download.svelte';
import Layout from '$lib/layouts/Layout.astro';
import CopyButton from '$lib/components/copyButton.svelte';
---

<Layout>
  <div class="abs-center font-code w-fit">
    <h1 class="mb-1 w-full pl-1">pgp_public_key.asc</h1>
    <pre class="bg-mantle border-border size-fit rounded-md border p-4"><Pubkey.Content /></pre>
    <div class="flex gap-3">
      <Button class="align-center mt-3 flex w-full justify-center" variant="outline" href="/pgp_public_key.asc">
        <Download />
        <span>Download</span>
      </Button>
      <CopyButton text={Pubkey.rawContent()} client:load />
    </div>
  </div>
</Layout>
