---
import Layout from '$lib/layouts/Layout.astro';
import Projects from '$lib/layouts/Projects.svelte';

const projectArray = [
  {
    title: 'Shibedrill.site',
    description: 'A Custom-built blog site for ShibeDrill',
    src: '/images/cheesecake.png',
    alt: 'Cheesecake, the harbinger of the end times',
    badges: ['AstroJS', 'DaisyUI', 'TailwindCSS', 'Vercel'],
  },
  {
    title: 'Lockbox',
    description: 'A password protected dropbox where users given a password can upload a file',
    src: '/images/lockbox.svg',
    alt: 'Lockbox Logo',
    badges: ['DaisyUI', 'Docker', 'SvelteKit', 'TailwindCSS', 'TypeScript'],
  },
  {
    title: 'SVChat',
    description: 'A simple chat application built in SvelteKit',
    src: '/images/svchat.svg',
    alt: '',
    badges: ['Cassandra', 'SQLite', 'SvelteKit', 'TailwindCSS', 'TypeScript'],
  },
];
---

<Layout>
  <div class="@container w-full p-8">
    <h1 class="mb-4 text-4xl font-bold">Projects</h1>
    <div class="grid w-full grid-cols-1 gap-2 @5xl:grid-cols-2">
      <Projects projects={projectArray} client:load />
    </div>
  </div>
</Layout>
