---
import Layout from '$lib/layouts/Layout.astro';
import Projects from '$lib/layouts/Projects.svelte';
import { projectArray } from '$lib/projects';
---

<Layout description="April Hall's Personal Projects" pageTitle="Projects">
  <div class="@container w-full p-8">
    <h1 class="mb-4 text-4xl font-bold">Projects</h1>
    <div class="grid w-full grid-cols-1 gap-2 @5xl:grid-cols-2">
      <Projects projects={projectArray} client:load />
    </div>
  </div>
</Layout>
