---
import Link from '$lib/components/Link.svelte';
import Discord from '$lib/icons/discord.svelte';
import GitHub from '$lib/icons/github.svelte';
import Mail from '$lib/icons/mail.svelte';
import BlueSky from '$lib/icons/bluesky.svelte';

const { class: className } = Astro.props;
const hoverClass = 'transition-all duration-400 hover:pb-4';
---

<div class={'bg-base mx-auto flex h-10 w-fit p-3 items-center justify-center gap-2 rounded-full ' + className}>
  <Link href="https://bsky.app/profile/arithefirst.com" alt="Bluesky" class={hoverClass} client:idle><BlueSky /></Link>
  <Link href="https://discord.com/users/613358761901424652" alt="Discord" class={hoverClass} client:idle
    ><Discord /></Link
  >
  <Link href="https://github.com/arithefirst" alt="GitHub" class={hoverClass} client:idle><GitHub /></Link>
  <Link href="mailto:ari@arithefirst.com" alt="E-Mail" email class={hoverClass} client:load><Mail /></Link>
</div>
