---
import Buttons from '$lib/components/sidebar/Buttons.astro';
import Kitty from '$lib/images/kitty.png';
import SidebarText from '$lib/layouts/SidebarText.svelte';
import { Image } from 'astro:assets';
---

<nav class="bg-mantle hidden w-2/7 min-w-[380px] items-center md:flex">
  <div class="my-auto h-fit w-full scale-[0.9] 2xl:scale-100">
    <Image
      src={Kitty}
      alt="An orange cat hugging a creeper plushie"
      class="mx-auto w-2/3 rounded-full shadow-lg"
      loading="eager"
    />
    <SidebarText client:load transition:persist="sidebartext" />
    <Buttons class="mt-28" />
  </div>
</nav>
