---
import Command from '$lib/components/Command.svelte';
import Desktop from '$lib/components/sidebar/Desktop.astro';
import Mobile from '$lib/components/sidebar/Mobile.astro';
import Head from '$lib/layouts/Head.astro';
import '$lib/styles/global.css';
import Analytics from '@vercel/analytics/astro';
import KBD from '$lib/components/KBD.astro';

const {
  pageTitle,
  description,
  image,
  excludeHead = false,
}: { pageTitle?: string; description?: string; image?: string; excludeHead?: boolean } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 h-full w-full">
  {!excludeHead && <Head pageTitle={pageTitle} description={description} image={image} />}
  <Analytics />
  <body class="m-0 h-full w-full">
    <Command client:load />
    <main class="flex h-screen flex-col pb-11 md:h-(--bh-desktop) md:flex-row md:pb-0">
      <Desktop />
      <Mobile />
      <div class="bg-topography relative size-full overflow-y-scroll">
        <slot />
      </div>
    </main>
    <button
      onclick="dispatchKeypress()"
      class="bg-mauve fixed bottom-0 z-50 hidden w-full cursor-pointer items-center justify-center p-1 text-base md:flex"
    >
      <strong class="bold mr-1">TIP: </strong>
      Press
      <span class="mr-0.5 ml-1 flex items-center"><KBD class="mr-0.5">CTRL</KBD>+<KBD class="mr-0.5">K</KBD></span> or click
      here to open the site navigation.
    </button>
  </body>
</html>

<script is:inline>
  function dispatchKeypress() {
    const ctrlKEvent = new KeyboardEvent('keydown', {
      key: 'k',
      code: 'KeyK',
      ctrlKey: true,
      bubbles: true,
      cancelable: true,
    });

    document.dispatchEvent(ctrlKEvent);
  }
</script>
