---
import Command from '$lib/components/Command.svelte';
import Desktop from '$lib/components/sidebar/Desktop.astro';
import Mobile from '$lib/components/sidebar/Mobile.astro';
import Analytics from '@vercel/analytics/astro';
import '$lib/styles/global.css';

const { pageTitle }: { pageTitle?: string } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="darkreader-lock" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>arithefirst{pageTitle ? ` | ${pageTitle}` : ''}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <Analytics />
  <body class="m-0 h-full w-full">
    <Command client:load />
    <div class="flex h-screen flex-col md:flex-row">
      <Desktop />
      <Mobile />
      <div class="bg-topography relative size-full overflow-y-scroll">
        <slot />
      </div>
    </div>
  </body>


</html>
