---
import Link from '$lib/components/link.astro';
import Discord from '$lib/icons/discord.svelte';
import GitHub from '$lib/icons/github.svelte';
import Mail from '$lib/icons/mail.svelte';
import Terminal from '$lib/icons/terminal.svelte';
import Miku from '$lib/images/miku.png';

import Command from '$lib/components/Command.svelte';
import SidebarText from '$lib/layouts/SidebarText.svelte';
import PromptTriggerButton from '$lib/components/PromptTriggerButton.svelte';
import '$lib/styles/global.css';
import { Image } from 'astro:assets';

const { pageTitle }: { pageTitle?: string } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>arithefirst{pageTitle ? ` | ${pageTitle}` : ''}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="m-0 h-full w-full">
    <Command client:load />
    <div class="flex h-screen">
      <div class="bg-mantle flex w-1/2 w-2/7 min-w-[380px] items-center">
        <div class="my-auto h-fit w-full scale-[0.9] 2xl:scale-100">
          <Image src={Miku} alt="Hatsune Miku" class="mx-auto w-2/3 rounded-full shadow-lg" />
          <SidebarText client:load />
          <div class="bg-base mx-auto mt-28 flex h-10 w-48 items-center justify-center gap-2 rounded-full">
            <Link href="https://discord.com/users/613358761901424652"><Discord /></Link>
            <Link href="https://github.com/arithefirst"><GitHub /></Link>
            <Link href="mailto:ari@arithefirst.com"><Mail /></Link>
            <PromptTriggerButton client:load class="w-fit"><Terminal /></PromptTriggerButton>
          </div>
        </div>
      </div>
      <div class="size-full overflow-x-scroll">
        <slot />
      </div>
    </div>
  </body>
</html>
